*{
    margin: 0;
    padding: 0;
    box-sizing: border-box}
    :root{
        --paragraph1:rgb(50, 151, 50);
        --paragraph2:rgb(156, 82, 82);
        --paragraph3:rgb(255, 102, 0);
        --tittle1:rgb(238, 197, 158);
        --tittle2:rgb(196, 223, 47);
        --tittle3:rgb(250, 171, 217);
        --heading1:yellow;
        --heading2:rgb(120, 245, 120);
        --heading3:pink;

    }
h1{
    font-size: large;
    padding: 10px;
    text-align: center;
    background-color: var(--heading1);
    border-style: 1px  solid black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    
}

#container{
    
    display: flex;
    text-align: right;
}
.first{
    width: 33%;
    background-color: var(--paragraph1);
    padding: 10px;
    margin: 10px;
    text-align: justify;
    
}


#p1{
    top: 0px;
    
}

    
.had{
    width: 30vw;
    height: 20px;
    text-align: center;
    display: inline-block;
    
    
    
    
}
#sp1{
    background-color: var(--tittle1);
    width: 100px;
    float:right;
    border-radius: 10px;
    
}
#sp2{
    background-color: var(--tittle2);
    width: 100px;
    float:right;
    border-radius: 10px;

} 
#sp3{
    background-color: var(--tittle3);
    width: 100px;
    float:right;
    border-radius: 10px;
}
/*tablet */
@media (min-width: 768px) and (max-width: 991px) {
    #container{
        
        position: relative;
        text-align: center;
    }
    .first{
        width: 48%;
        background-color: var(--paragraph2);
        border-width: 1px;
       
        padding: 10px;
        margin: 10px;
        text-align: justify;
        
    }
    #p1{
        margin: 10px;
        height: 375px;
        
        
    }
    
    #p2{
        top: 0px;
        right: 0%;
        position: absolute;
        margin: 10px;
        
        height: 375px;

    }
    #p3{ 
        top: 100%;
        left: 0%;
        position: absolute;
        width: 97%;
    }
    h1{border-radius: 0% 50% 0% 50%;
        background-color: var(--heading2);
        margin-left:15px;
        margin-right: 10px;
    }


.had{
    width: 45vw;
    height: 20px;
    text-align: center;
    display: inline-block;
    
    
    
    
}
#sp1{
    background-color: var(--tittle3);
    width: 100px;
    float:right;
}
#sp2{
    background-color: var(--tittle2);
    width: 100px;
    float:right;
} 
#sp3{
    background-color: var(--tittle1);
    width: 100px;
    float:right;
}
#last{
    width:93vw;
}
}
/*for mobile*/
@media (min-width: 200px) and (max-width: 767px) {
    #container{
        
        display: contents;
        text-align: center;
    }
    .first{
        width: 100vw;
        background-color: var(--paragraph3);
        border-width: 1px;
       color: rgb(20, 7, 3);
        padding: 10px;
        margin: 10px;
        text-align: justify;
    }
    h1{
        font-size: large;
        padding: 10px;
        text-align: center;
        background-color: var(--heading3);
        margin: 10px;
        place-items: center;
        width: 100vw;
        border-radius: 50% 0% 50% 0%;
    }
    .had{
        width: 98vw;
        height: 20px;
        text-align: center;
        display: inline-block;
        
        
        
        
    }
    #sp1{
        background-color: var(--tittle2);
        width: 100px;
        float:right;
        margin-right: 10px;
    }
    #sp2{
        background-color: var(--tittle3);
        width: 100px;
        float:right;
        margin-right: 10px;
    } 
    #sp3{
        background-color: var(--tittle1);
        width: 100px;
        float:right;
        margin-right: 10px;
    }
}