*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
:root{
    --head:red;
    --bg: green;
    --para: rgba(108, 108, 109, 0.39);
    --tittlei: red;
    --tittleii: brown;
    --tittleiii: green;
}
h1{
    text-align:center;
    padding:5px;
    margin-top:30px;
    
}

   #container{ 
    width:96vw;
    height:auto;
    padding: 0px;
    margin-right: 0px;
    
}
.containeri{
    width:96vw;
    height:auto;
    /*background-color:var(--bg);*/
    padding:0px;
    margin:10px;
}
.tittle{
    width:150px;
    height:30px;
    
    float: right;
    border:1px solid black;
    clear: left;
    text-align: center;
    font-size:13px;
    padding:5px;
}
.paragraph{
    width:96vw;
    height:100%;
    background-color:var(--para);
    border:1px solid black;
    padding:30px;
    padding-top:50px;
    text-align:justify;
}
#ti{
    background-color: rgb(241, 145, 116);
    font-weight: bold;
}
#tii{
    background-color: rgb(235, 37, 37);
    font-weight: bold;
}
#tiii{
    background-color: rgb(243, 223, 45);
    font-weight: bold;
}
/*Destop view*/
@media (min-width:992px) and (max-width:4000px) {
    #container{
        display: flex;
        
    }
        
        
    .containeri{
        width: 31vw;
        
        
    }
    .paragraph{
        width:31vw;
    }
}
@media (min-width:768px) and (max-width:991px){
    #container{
        display: flex;
        flex-wrap: wrap;
    }
    .paragraph{
        width: auto;
    }
    #coni{
        width: 47%;
    }
    #conii{
       
        width: 47%;
        
    }
    #coniii{
        width: calc(93% + 27px);
    }
}
/*mobile*/
